* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.img{
  height: 100vh;
  width: 100%;
  background-image: url(imagens/1000_F_58457666_y1IAW3cyklKLVb1uSsXf2TwPyliPbghP.png);
  background-position: center;
  background-position-y: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}