*{
  padding: 0;
  margin: 0;

}

h1{
  color: white;
  position: absolute;
  width: 385px;
  height: 77px;
  left: 50px;
  top: 27px;

  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
}

body{
  background-color: #0E1010;
  height: 3840px;
}

#bar{
  box-sizing: border-box;

  position: fixed;
  width: 129px;
  height: 636px;
  left: 50px;
  top: 119px;

  /* blue */
  background: #172434;
  border: 1px solid #000000;
  border-radius: 10px;
}